 header{
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: #5a6e77;
  text-align: left;
  transition: max-height 0.4s;
}

 body {
  margin: 0;
  padding: 0;
  background: #607d8b;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family:Candara;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 400px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
   text-align: right;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b34440;
}

nav ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  background-color: #5a6e77;
  text-align: center;
  transition: max-height 0.4s;
}
nav ul li{
  display: inline-block;
  padding: 20px;
  transition: all ease-in-out 250ms;
  cursor: pointer;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li:hover{
  background: #607d8b;
}
.hide{
  background: #607d8b;
  padding: 16px;
  color: white;
  cursor: pointer;
  font-size: 22px;
  display: none;
}
@media screen and (max-width:680px) {
nav ul li{
  width: 100%;
  text-align: left;
  padding: 15px;
}
.show{
  max-height: 20em;
}
.hide{
  display: block;
}
nav ul{
  max-height: 0;
}
}

